<%- include('partials/_header'); -%>
  <main 
      class="container mx-auto" 
      style="margin: 1em"
  >
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">Short URL</th>
          <th scope="col">Long URL</th>
          <th scope='col'>Delete</th>
        </tr>
      </thead>
      <tbody>

        <% for(let url in urls) { %>
          <tr>
            <td>
              <%= url %>
            </td>
            <td>
              <%= urls[url].longURL %>
            </td>
            <td>
              <form
                  method="POST"
                  action="/urls/<%= url %>?_method=DELETE"
              >
                <button class="btn-login btn-custom-dark">
                  <a 
                      class="text-white"
                      href="/urls/<%= url %>"
                  >
                    Edit
                  </a>
                </button>
                <button
                    class="btn-logout btn-custom-dark"
                    type="submit"
                >
                  Delete
                </button>
              </form>
              
            </td>
          </tr>
        <% } %>
        
      </tbody>
    </table>
  </main>

<%- include('partials/_footer'); -%>