<%- include('partials/_header'); -%>
  <main class="container mx-auto">
    <div class="card text-center border-none">
      <div class="card-body background-solid">
        <h5 class="card-title">TinyURL for: <%= longURL %></h5>
        <p class="card-text">Short URL: <a href="<%= longURL %>"><%= shortURL %></a></p>
      </div>
    </div>
    <% if (user) {%>
      <br />
      <form 
          method="POST" 
          action="/urls/<%= shortURL %>?_method=PUT"
      >
        <div class="form-group">
          <label for="longURL">Edit URL</label>
          <input 
              type="text"
              class="form-control background-input"
              id="longURL"
              name="<%= shortURL %>"
              value="<%= longURL %>"
          >
        </div>
        <button class="btn-login btn-custom-dark" type="submit">Submit</button>
      </form>
    <% } %>
  </main>
  
<%- include('partials/_footer'); -%>